@model AMRS.Models.AirportsModel


@{
    ViewBag.Title = "Create Airport";
}

<script type="text/javascript">
    $(function () 
    {
        var msg = '@ViewData["result"]';
        if (msg == '1')
        {
            alert("Airport Inserted Successfully");            
        }
        else
        {
            alert("Failed to Inserted Airport!!!");   
        }
    });
</script>

<h2>Create Airport</h2>
@using (Html.BeginForm("Add", "Airport", FormMethod.Post))
{
    <table style="width:100%; border: solid 2px #000" class="able table-responsive table-bordered table-striped">
                        <tr align="center">
                            <td>
                                <label for="Name">Airport Name</label>
                                @Html.TextBoxFor(model => Model.portName)
                            </td>
                            <td>
                                <label for="Surname">Airport Country</label>
                                @Html.TextBoxFor(model => Model.portCountry)
                            </td>
                         </tr>
                         <tr align="center">
                            <td>
                                <label for="Name">Airport City</label>
                                @Html.TextBoxFor(model => Model.portCity)
                            </td>
                            <td>
                                <label for="Surname">Airport Zip code</label>
                                @Html.TextBoxFor(model => Model.portZip)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><input type="submit" value="Add Airport" class="button-primary"/></td>
                        </tr>
    </table>  
    
}

